@font-face {
    font-family: "Inconsolata";
    src: local('../Fonts/Inconsolata/static/Inconsolata_Condensed/Inconsolata_Condensed-Bold.ttf'), url("../Fonts/Inconsolata/static/Inconsolata_Condensed/Inconsolata_Condensed-Bold.ttf") format("opentype");
}

.titleFont{
    font-family: "Inconsolata", monospace;
    font-size: x-large;
}

.number-url-card{
    background-color: #f8f9fa;
}

.total-clicks-card{
    background-color: #e8f9f6;
}

.added-this-month-card{
    background-color: #ebf2ff;
}