<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Without Internet Connection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/fonts.css">
    <link rel="stylesheet" type="text/css" href="../css/landing.css">
</head>
<body>
    <div class="card rounded-0 bg-dark text-white mb-3">
        <img class="card-img" src="../images/fondo-landing-3.jpg" width="2560" height="700" alt="yo habia ponido una foto aqui">
        <div class="card-img-overlay">
            <h2 class="card-title titleFont">Oops!! An error ocurred</h2>
            <h4 class="card-text titleFont">No Internet connection</h4>
        </div>
    </div>
</body>
</html>